<div class="container">
  <div *ngIf="blogPost"  class="row">

          <h3 style="text-align: center; "> {{blogPost.title}} </h3>

          <div class="col m8  offset-m2  l8 offset-l2 s11">
              <a *ngIf="userProfile && userProfile.user==blogPost.user.id" [routerLink]="[ '/edit-blog-post', blogPost.id ]">Edit Blog</a>
              <img src="{{blogPost.header_image_url}}" style="max-height: 100%;max-width: 100%;"/>


              <button mat-mini-fab style="background-color: transparent" [disabled]="blogPost['alreadyLiked']" (click)="likeContent(blogPost)" >
                <mat-icon class="material-icons interactive-icon md-36"  [ngStyle]="{'color': blogPost.alreadyLiked ? '#4080FF' : 'gray'}"
                          svgIcon="thumb-up-outline" aria-label="Like Blog"></mat-icon>
              </button>{{blogPost.up_votes_count}}

              <div [innerHTML]="blogPost.body | safeHtml"></div>

          </div>


  <!--<div class="col s11 comment-box">-->
      <!--<h5 > Comments </h5>-->

              <!--<mat-card class="comment-card">-->

              <!--<mat-card-content>-->
                  <!--<input id="blog_post_title" placeholder="Title (optional)" [(ngModel)]="userComment.title">-->
                  <!--<input id="blog_post_comment_text" placeholder="What do you think?" (keydown.enter)="postComment()" [(ngModel)]="userComment.text">-->
              <!--</mat-card-content>-->

              <!--<mat-card-actions>-->
                  <!--<button mat-raised-button style="background-color: #4080ff;" class="btn white-text" (click)="postComment()">Post</button>-->
              <!--</mat-card-actions>-->

              <!--</mat-card>-->

      <!--<div  *ngFor="let comment of comments; i as index; first as isFirst; trackBy:trackByFn" class="comments">-->
          <!--<app-comment  [comment]="comment" commentType="Forum"> </app-comment>-->
      <!--</div>-->

  <!--</div>-->

  <!--</div>-->

<!-- Loading progress circle -->
<div *ngIf="!blogPost" class="preloader-background">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>
