@import '../../styles.scss';

.background-image {
  background: url('../../assets/img/bg-preview-1x.jpg') center / cover;
  background-image: -webkit-image-set(
      url('../../assets/img/bg-preview-1x.jpg') 1x center / cover,
      url('../../assets/img/bg-preview-2x.jpg') 2x  center / cover
  );
  background-image: image-set(
      url('../../assets/img/bg-preview-1x.jpg') 1x center / cover,
      url('../../assets/img/bg-preview-2x.jpg') 2x center / cover
  );
  height: 450px;
  width: 100%;
}

mat-select {
  width: 90%;
}

:host /deep/ .mat-select-value-text {
  color: white ;
}

.scholarship-btn{
  margin: 1%;
  background-color: #4080ff;
  min-height: 75px !important;
}

:host/deep/ .mat-pseudo-checkbox-checked{
  background-color: $primary;
}

// .input-field{
//   border-bottom: solid white;
// }
:host/deep/ .mat-input-placeholder {
  color: white;
}
:host /deep/ .mat-select-underline {
  background-color: white !important;
}

mat-form-field{
  color: white ;
}

:host /deep/ .mat-input-underline {
  background-color: transparent !important;
}

:host /deep/ .mat-select-arrow {
  color: white !important;
}

:host /deep/ .mat-select-placeholder {
  color: white;
  font-size: 1.3em;
}


:host /deep/  .mat-form-field-label {
  font-size: 100%;
}

.subheader {
  font-size: 3.2em;
  color:#FFFFFF;
  width: 45%;
  padding: 50px 0px;
  margin-left: 5%;
}
mat-form-field.location-div .mat-input-wrapper{
  padding-bottom: 0%;
}

#location{
  border-bottom: 1px solid white;
  margin-bottom: 0%;
}
.preview-form {
  background: transparent;
  padding: 1px 0 0px 0;
  margin-top: -37%;
}

.form-header {
  text-align: center;
  font-size:55px;
  color:white;
}
.mat-input-placeholder{
  color: white;
}

.semi-dark-background {
  background-color: rgba(25, 79, 135, .18);

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.scholarship-btn-div {
  margin-top: 5.7%;
}
.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width:320px), (max-width:481px)   {
  /* smartphones, iPhone, portrait 480x320 phones */
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  .background-image{
    background: url('../../assets/img/bg-preview-mobile.jpg') center / cover; max-width:100%;
    background-position-x: 73%;
    height: 30em;
  }
  .preview-form{
    margin-top: -117%;
  }
  .form-header{
    font-size: 3em;
  }
  .subheader{
    padding-top: 50%;
    width: 100%;
  }
  input[type = text]{
    margin-bottom: 0;
  }

  .scholarship-btn{
    margin: 1%;
    background-color: #4080ff;
    min-height: 100px !important;
  }

  .scholarship-btn-div {
    margin-top: 0;
  }


}
